[submodule "framework/drivers"]
	path = framework/drivers
	url = https://github.com/qingyu0310/Dust_Zephyr_Architecture_Drivers.git
[submodule "framework/algorithm"]
	path = framework/algorithm
	url = https://github.com/qingyu0310/Dust_Zephyr_Architecture_Algorithm.git
[submodule "framework/modules"]
	path = framework/modules
	url = https://github.com/qingyu0310/Dust_Zephyr_Architecture_Modules.git
[submodule "framework/topic"]
	path = framework/topic
	url = https://github.com/qingyu0310/Dust_Zephyr_Architecture_Topic.git
[submodule "framework/cmd"]
	path = framework/cmd
	url = https://github.com/qingyu0310/Dust_Zephyr_Architecture_Cmd.git
[submodule "framework/init"]
	path = framework/init
	url = git@github.com:qingyu0310/Dust_Zephyr_Architecture_Init.git
