CompileFlags:
  CompilationDatabase: build/
  Add:
    - -ferror-limit=0
    - -Wno-unused-variable
    - "-Wno-#pragma-messages"
    - -isystem
    - E:/Zephyr/zephyr-sdk-0.16.8/arm-zephyr-eabi/lib/gcc/arm-zephyr-eabi/12.2.0/include
    - -isystem
    - E:/Zephyr/zephyr-sdk-0.16.8/arm-zephyr-eabi/lib/gcc/arm-zephyr-eabi/12.2.0/include-fixed
    - -isystem
    - E:/Zephyr/zephyr-sdk-0.16.8/arm-zephyr-eabi/arm-zephyr-eabi/include/c++/12.2.0/arm-zephyr-eabi
    - -isystem
    - E:/Zephyr/zephyr-sdk-0.16.8/riscv64-zephyr-elf/riscv64-zephyr-elf/include/c++/12.2.0
    - -isystem
    - E:/Zephyr/zephyr-sdk-0.16.8/riscv64-zephyr-elf/lib/gcc/riscv64-zephyr-elf/12.2.0/include
    - -isystem
    - E:/Zephyr/zephyr-sdk-0.16.8/riscv64-zephyr-elf/lib/gcc/riscv64-zephyr-elf/12.2.0/include-fixed
    - -isystem
    - E:/Zephyr/zephyr-sdk-0.16.8/riscv64-zephyr-elf/riscv64-zephyr-elf/include
    - -isystem
    - E:/Zephyr/zephyr-sdk-0.16.8/riscv64-zephyr-elf/riscv64-zephyr-elf/include/c++/12.2.0/riscv64-zephyr-elf
    - -isystem
    - E:/Zephyr/zephyr-sdk-0.16.8/riscv64-zephyr-elf/picolibc/include
  Remove:
    - -mabi=*
    - -march=*
    - -mcpu=*
    - -mfp16-format=*
    - --specs=*
    - -fno-printf-return-value
    - --param=*
    - -fmacro-prefix-map=*
    - -fno-reorder-functions
    - -ftls-model=*
    - -mno-relax

Diagnostics:
  Suppress:
    - drv_unknown_argument
    - unknown_warning_option
    - unused_variable
    - no_member
    - "#pragma_messages"
    - anon_bitfield_qualifiers
    - -Wint-to-pointer-cast
