#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/stm32-pinctrl.h>

/ {
	aliases {
		user-can1    = &can1;
		remote-uart  = &usart3;
		bmi088-accel = &bmi088_accel;
		bmi088-gyro  = &bmi088_gyro;
	};
	chosen {
		zephyr,console = &usart6;
		zephyr,shell-uart = &usart6;
	};
	leds {
		compatible = "gpio-leds";
		led_alert: led_alert {
			gpios = <&gpioh 12 GPIO_ACTIVE_LOW>;
			label = "LED_RED";
		};
	};
};

&usart6 {
	pinctrl-0 = <&usart6_tx_pg14 &usart6_rx_pg9>;
	pinctrl-names = "default";
	current-speed = <115200>;
	dmas = <&dma2 6 5 STM32_DMA_PERIPH_TX STM32_DMA_FIFO_FULL>,
	       <&dma2 1 5 STM32_DMA_PERIPH_RX STM32_DMA_FIFO_FULL>;
	dma-names = "tx", "rx";
	status = "okay";
};

&usart3 {
	pinctrl-0 = <&usart3_rx_pc11>;
	pinctrl-names = "default";
	current-speed = <100000>;
	dmas = <&dma1 1 4 STM32_DMA_PERIPH_RX STM32_DMA_FIFO_FULL>;
	dma-names = "rx";
	status = "okay";
};

&dma1 {
	status = "okay";
};

&dma2 {
	status = "okay";
};

&can1 {
	pinctrl-0 = <&can1_rx_pd0 &can1_tx_pd1>;
	pinctrl-names = "default";
	bitrate = <1000000>;
	status = "okay";
};

&can2 {
	pinctrl-0 = <&can2_rx_pb5 &can2_tx_pb6>;
	pinctrl-names = "default";
	bitrate = <1000000>;
	status = "okay";
};

&spi1 {
	pinctrl-0 = <&spi1_sck_pb3 &spi1_miso_pb4 &spi1_mosi_pa7>;
	pinctrl-names = "default";
	cs-gpios = <&gpioa 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
		   <&gpiob 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	status = "okay";

	bmi088_accel: bmi088-accel@0 {
		compatible = "bosch,bmi08x-accel";
		reg = <0>;
		spi-max-frequency = <10000000>;
		spi-cpol;
		spi-cpha;
		int-gpios = <&gpioc 4 GPIO_ACTIVE_HIGH>;
		int1-map-io = <0x01>;
		int2-map-io = <0x00>;
		int1-conf-io = <0x0A>;
		int2-conf-io = <0x00>;
		accel-hz = "800";
		accel-fs = <6>;
		status = "okay";
	};

	bmi088_gyro: bmi088-gyro@1 {
		compatible = "bosch,bmi08x-gyro";
		reg = <1>;
		spi-max-frequency = <10000000>;
		spi-cpol;
		spi-cpha;
		int-gpios = <&gpioc 5 GPIO_ACTIVE_HIGH>;
		int3-4-map-io = <0x01>;
		int3-4-conf-io = <0x01>;
		gyro-hz = "2000_230";
		gyro-fs = <2000>;
		status = "okay";
	};
};

&pinctrl {
	spi1_sck_pb3: spi1_sck_pb3 {
		pinmux = <STM32_PINMUX('B', 3, AF5)>;
		bias-pull-down;
		slew-rate = "very-high-speed";
	};

	spi1_miso_pb4: spi1_miso_pb4 {
		pinmux = <STM32_PINMUX('B', 4, AF5)>;
		bias-pull-down;
	};

	spi1_mosi_pa7: spi1_mosi_pa7 {
		pinmux = <STM32_PINMUX('A', 7, AF5)>;
		bias-pull-down;
	};
};
