#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/clock/hpm5361-clocks.h>
#include "dt-bindings/pinctrl/hpmicro-pinctrl-common.h"
#include <zephyr/dt-bindings/pwm/pwm.h>

/ {
    aliases {
        user-can1   = &mcan0;
        remote-uart = &uart4;
        imu-spi     = &icm42688p;
        imu-pwm     = &imu_pwm;
        buzzer-pwm  = &buzzer_pwm;
        flash-spi   = &w25q128;
        pc-usb      = &qingyuusb_usb0;
    };

    chosen {
        zephyr,console = &uart3;
    };

    pwm {
        compatible = "pwm-leds";

        imu_pwm: imu_pwm {
            pwms = <&pwm0 7 PWM_USEC(1000) PWM_POLARITY_NORMAL>;
            label = "ICM42688P Heater";
            status = "okay";
        };

        buzzer_pwm: buzzer_pwm {
            pwms = <&pwm0 5 PWM_USEC(1000) PWM_POLARITY_NORMAL>;
            label = "Buzzer";
            status = "okay";
        };

        pwm1_p2: pwm1_p2 {
            pwms = <&pwm1 2 PWM_USEC(1000) PWM_POLARITY_NORMAL>;
            label = "PWM1 CH2";
            status = "okay";
        };

        pwm1_p3: pwm1_p3 {
            pwms = <&pwm1 3 PWM_USEC(1000) PWM_POLARITY_NORMAL>;
            label = "PWM1 CH3";
            status = "okay";
        };
    };
};

&hdma {
    status = "okay";
};

&gpioa {
    pinctrl-0 = <&pinmux_gpioa>;
    pinctrl-names = "default";
    status = "okay";
};

&gpiob {
    pinctrl-0 = <&pinmux_gpiob_spi>;
    pinctrl-names = "default";
    status = "okay";
};

&gpioy {
    pinctrl-0 = <&pinmux_gpioy>;
    pinctrl-names = "default";
    status = "okay";
};

&mcan0 {
    pinctrl-0 = <&pinmux_mcan0_txrx>;
    pinctrl-names = "default";
    bitrate = <1000000>;
    status = "okay";
};

&uart1 {
    current-speed = <100000>;
    pinctrl-0 = <&pinmux_uart1>;
    pinctrl-names = "default";
    dmas = <&hdma 6 0x16>, <&hdma 7 0x17>;
    dma-names = "rx", "tx";
    status = "okay";
};

&uart4 {
    current-speed = <100000>;
    pinctrl-0 = <&pinmux_uart4_rx>;
    pinctrl-names = "default";
    uart-idle-gptmr-reg = <0xF000C000>;
    uart-idle-gptmr-clock-name = <CLOCK_GPTMR3>;
    dmas = <&hdma 2 0x1C>, <&hdma 3 0x1D>;
    dma-names = "rx", "tx";
    status = "okay";
};

&uart3 {
    current-speed = <921600>;
    pinctrl-0 = <&pinmux_uart3>;
    pinctrl-names = "default";
    dmas = <&hdma 4 0x1A>, <&hdma 5 0x1B>;
    dma-names = "rx", "tx";
    status = "okay";
};

qingyuusb_usb0: &usb0 {
    compatible = "hpmicro,hpm-qingyuusb";
    clk-name = <CLOCK_USB0>;
    status = "okay";
};

&spi1 {
    pinctrl-0 = <&pinmux_spi1>;
    pinctrl-names = "default";
    clocks = <&clk CLOCK_SPI1 CLK_SRC_OSC24M 1>;
    status = "okay";

    w25q128: w25q128@0 {
        compatible = "winbond,w25q128";
        reg = <0>;
        spi-max-frequency = <50000000>;
        status = "okay";
    };
};

&spi2 {
    pinctrl-0 = <&pinmux_spi2_local>;
    pinctrl-names = "default";
    clocks = <&clk CLOCK_SPI2 CLK_SRC_OSC24M 1>;
    status = "okay";

    icm42688p: icm42688p@0 {
        compatible = "invensense,icm4268x";
        reg = <0>;
        spi-max-frequency = <100000>;
        int-gpios = <&gpiob 15 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };
};

&pwm0 {
    pinctrl-0 = <&pinmux_pwm0_p57>;
    pinctrl-names = "default";
    period-init = <1000>;
    dead-zone-in-half-cycle = <0>;
    status = "okay";
};

&mtimer {
    compatible = "riscv,machine-timer", "andestech,machine-timer";
    reg-names = "mtime", "mtimecmp";
};

&pwm1 {
    pinctrl-0 = <&pinmux_pwm1_p23>;
    pinctrl-names = "default";
    period-init = <1000>;
    dead-zone-in-half-cycle = <0>;
    status = "okay";
};
